extends layout

block header
	include header
	
block content
	div.container
		div.jumbotron
			h1 Welcome to YummyRation!
			p.lead
				| YummyRation provides catering services and gives you access delicious frech cooked food. Make your choice from our menu for your next dinner, cocktail, or party.
		.row.marketing
			.col-lg-6
				h4 Salads
				p
					a(href='/menuitem/v101')
						img.img-circle(src='/images/salad.jpg' alt'salad pic' height='140', width='140')
				h4 Seafood
				p
					a(href='/menuitem/s202')
						img.img-circle(src='/images/seafood.jpg' alt'seefood pic' height='140', width='140')
			.col-lg-6
				h4 Meat
				p
					a(href='/menuitem/m303')
						img.img-circle(src='/images/steak.jpg' alt'meat pic' height='140', width='140')
				h4 Desserts
				p
					a(href='/menuitem/d404')
						img.img-circle(src='/images/raspie.jpg' alt'dessert pic' height='140', width='140')