extends layout

block header
	include header
	
block content
	div.container
		h1 Welcome to YummyRation
		h3 Leading Retailer of all Things Outdoorsy
		img.img-responsive(src='/images/seafood.jpg', alt='Responsive image')