extends layout

block header
	include header-details
	
	
block content
	div.container
		h2
			em Salad
		h2
			br
			img.img-responsive(src='/images/salad.jpg' height='375', width='500')
		h3
			| About this item:
		#description
			| Diced cucumbers, peppers, crisp beans, tomatoes and jalapeños, tossed with cilantro and Dijon vinaigrette, with crumbled feta.
		h3
			| Price:
		#price 9.00