extends layout

block header
	include header-details
	
	
block content
	div.container
		h2
			em Salad
		h2
			br
			img.img-responsive(src='/images/salad.jpg' height='375', width='500')
		h3
			| About this meal:
		#description
			| Delicious seafood
		h3
			| Price:
		#price 9.00