extends layout

block header
	include header-details
	
	
block content
	div.container
		h2
			em Seafood
		h2
			br
			img.img-responsive(src='/images/seafood.jpg' height='375', width='500')
		h3
			| About this item:
		#description
			| Delicious lobster, clams, and mussels with warm roasted corn.
		h3
			| Price:
		#price 28.00