{"Name":"YummyRation on dev / jlmarech@ca.ibm.com","ServiceId":"com.ibm.cloudoe.orion.client.deploy","Params":{"Target":{"Url":"https://api.ng.bluemix.net","Org":"jlmarech@ca.ibm.com","Space":"dev"},"Name":"YummyRation","Timeout":60},"Url":"http://YummyRation.mybluemix.net","ManageUrl":"https://ace.ng.bluemix.net#/resources/appGuid=d4a36de0-2da9-4b7f-a8a4-770671ae80ab&orgGuid=c684b9c9-cc87-4e76-8182-ae2fc90f60d0&spaceGuid=888d46be-dd81-43a7-bf5a-192a78295848","Path":"README.md","UrlTitle":"YummyRation","Type":"Cloud Foundry"}